.header-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    &__nav{
        display: flex;
        gap: 20px;
    }
    &__link{
        text-decoration: none;
        color: #000;
        &:hover{
            opacity: .5;
        }
    }
}