.main-container{
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    @media(max-width:950px){
        grid-template-columns:   1fr 1fr;
    }
    &__card{
        width: 100%;
    }
    &__img{
        width: 100%;
    }
}